body{
    background-image: url("img2/food1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Culture {
    background-color: red;
    padding-top: 100%;
    padding-bottom:40px;
    padding-left:10px;
    padding-right:10px;
}

#Home{
    background-color: white;
    padding-top: 100%;
    padding-bottom:35px;
    padding-left:10px;
    padding-right:10px;
}

#Traditions{
    background-color: white;
    padding-top: 100%;
    padding-bottom:35px;
    padding-left:10px;
    padding-right:10px;
}

#bildSaken{
    margin-bottom: 0;
}


#Sights{
    background-color: white;
    padding-top: 100%;
    padding-bottom:35px;
    padding-left:10px;
    padding-right:10px;
}

#texts{
    width: 75%;
    margin:auto;
    margin-bottom:150px;
    background: rgba(255, 255, 255, 0.9);
    border:solid red 2.5px;
    height:700px;


}
#watches{
    opacity: 100%;
}
#food{
    opacity: 100%;
}
#sports{
    opacity: 100%;
}
