body{
    background-image: url("img2/food1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#Culture {
    background-color: red;
    padding-top: 100%;
    
}

#texts{
    width: 75%;
    margin:auto;
    margin-top:40px;
    margin-bottom:150px;
    background: rgb(255, 255, 255,0.85);
    border:solid red 2.5px;
    height:700px;


}
#watches{
    opacity: 100%;
}
#music{
    opacity: 100%;
}
#food{
    opacity: 100%;
}
