body {
    background-image: url("img2/frontImage.jpg");
    background-size:1920px;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

#indexFront{
    width:1440px;
    height:200px;
    margin:auto;
    margin-left:200px;
    padding-top:150px;
}

#indexTitle {
    color: white;
    font-weight: bold;
    font-family: 'Copperplate Gothic';
    font-size: 100px;
    text-decoration: none;
}

#lowerFront {
    width:1920px;
    height:1000px;
    margin-top:300px;
    background-color:white;
    background-image:url("")
}

#Sights, #Traditions, #Culture{
    background-color: white;
    padding-top: 100%;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

#Home {
    background-color: red;
    padding-top: 100%;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}