body{
    background-color:lightgrey;
}

#Sights {
    background-color: red;
    padding-top: 100%;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
#Home {
    background-color:white;
    padding-top: 100%;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
#Traditions {
    background-color: white;
    padding-top: 100%;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
#Culture {
    background-color: white;
    padding-top: 100%;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
#page{
    width:65%;
    height:2000px;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    padding:40px;
    background-color:white;
}
.titlesSights {
    font-weight: bold;
    font-family: 'Copperplate Gothic';
    font-size: x-large;
    color: black;
    text-decoration: none;
}
.matterhorn {
    float: right;
    height: 300px;
    width: 50%;
    display: inline-block;
    margin-bottom: 6px;
    margin-top: 6px;
}
.bernina {
    height: 200px;
    width: 30%;
}
.rheinfall {
    height: 200px;
    width: 30%;
}

#matterhornDiv{
    float:left;
    width:50%;
    height:400px;
    background-color:grey;
}
.matterhornText {
    float: left;
    font-family: 'Copperplate Gothic';
    font-size: large;
    color: black;
    text-decoration: none;
    width: 100%;
    background-color:red;
    margin-bottom:6px;
    margin-top:6px;
}
.berninaText {
    float: right;
    font-family: 'Copperplate Gothic';
    font-size: large;
    color: black;
    text-decoration: none;
    width: 100%;
    background-color: red;
}
.rheinText {
    float: left;
    font-family: 'Copperplate Gothic';
    font-size: large;
    color: black;
    text-decoration: none;
    width: 100%;
    background-color: grey;
}
