
#text{
    font-size:1em;
}

a:link {
    color:darkred;
}

.paragraph{
    width:80%;
    height:100%;
    background-color:aqua;
    margin:auto;
    color:red;
}

#Traditions {
    background-color: red;
}