html, body {
    margin: 0;
    padding: 0; 
    min-width: 100%;
    min-height: 100%;
}

.topics{
    background-color: white;
    padding-top: 100%;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.traditions {
    background-color: red;
    padding-top: 100%;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.paragraph {
    font-family:"arvo";
    width: 60%;
    height: 50%;
    margin:auto;
    text-align:left;
    font-size:1.3em;
    overflow-wrap: break-word;
}

.paragraph h2 {
    margin: 0 0 10px 0;
    font-weight: bold;
    font-family: 'Copperplate Gothic';
}

.container{
    border:3px solid red;
}

.bgsettings {
    height: 74vh;
    width: 100%;
    margin: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}

.bg {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

.bg:before {   
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity:0;
    background-color: rgb(0, 0, 0, 0.75);
    transition: all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
}

.bgsettings:hover .bg {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.bgsettings:hover .bg:before {
    opacity: 0.5;
}

.img1 {
    background-image: url(/img/onion.jpeg);
}

.img2 {
    background-image: url(/img/lantern.jpeg);
}

.img3 {
    background-image: url(/img/cow.jpeg);
}

.preload {
    background: 
        url(/img/cow.jpeg), 
        url(/img/lantern.jpeg), 
        url(/img/onion.jpeg);
}