*{
    margin:0;   
    padding:0;
}

#divNav {
    width: 100%;
    height: 10vh;
    background-color: purple;
}

#text{
    font-size:1em;
}

a:visited{
    text-decoration:none;
    color:blue;
}

a:link {
    color:darkred;
}

.paragraph{
    width:80%;
    height:50vh;
    background-color:aqua;
    margin:auto;
    color:red;
}